---
/*
 * Copyright (c) Cynthia Rey, All rights reserved.
 * SPDX-License-Identifier: BSD-3-Clause
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this
 *    list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 * 3. Neither the name of the copyright holder nor the names of its contributors
 *    may be used to endorse or promote products derived from this software without
 *    specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

import GlobalLayout from '../layouts/GlobalLayout.astro'
import PageHeader from '../components/PageHeader.astro'
import Section from '../components/Section.astro'
---
<GlobalLayout title="contact me - cynthia's website">
  <PageHeader>Contact me</PageHeader>
  <main>
    <Section>
      Want to contact me? You can either reach me on one of my <a href='/socials'>socials</a>, or shoot me an email
      if you're more into old-school tech.
    </Section>
    <Section title='Email'>
      <p>
        Emails in 2022?? Yeah. I read these, and I even reply to them! Except if you're sending me weird stuff or spam.
      </p>
      <ul>
        <li>
          <a href='mailto:cynthia@cynthia.dev' target='_blank' rel='noreferrer'>cynthia@cynthia.dev</a>
        </li>
        <li>
          <a href='mailto:cyyynthia@borkenware.com' target='_blank' rel='noreferrer'>cyyynthia@borkenware.com</a> for
          professional inquiries
        </li>
      </ul>
    </Section>
    <Section title='PGP'>
      <p>
        You can use PGP to encrypt your emails if you want. Make sure your public key is available somewhere, or I'll
        have to reply in boring plaintext...
      </p>
      <ul>
        <li>key: <a href='/pgp.txt' target='_blank'>https://cynthia.dev/pgp.txt</a></li>
        <li>fingerprint: <code>FDDF 5DD9 34DC 5814 6C8B 3E8B CB56 1F74 DCEA E23B</code></li>
      </ul>
    </Section>
  </main>
</GlobalLayout>

<style>
  code {
    text-transform: uppercase;
  }
</style>
