---
/*
 * Copyright (c) 2021-2023 Cynthia Rey, All rights reserved.
 * SPDX-License-Identifier: BSD-3-Clause
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this
 *    list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 * 3. Neither the name of the copyright holder nor the names of its contributors
 *    may be used to endorse or promote products derived from this software without
 *    specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

import GlobalLayout from '../layout/GlobalLayout.astro'
import PageHeader from '../components/PageHeader.astro'

const birthDate = new Date('2002-05-30')
const today = new Date()
const dMonths = today.getUTCMonth() - birthDate.getUTCMonth()
const dDays = today.getUTCDate() - birthDate.getUTCDate()
const dYears = today.getUTCFullYear() - birthDate.getUTCFullYear()
const age = dYears - +(dMonths < 0 || (dMonths === 0 && dDays < 0))

const descriptions = [
  // catgirl who...
  'meows and sleeps',
  'bites and scwatches',
  'eats cookies',
  'drinks coffee',
  'sometimes writes code',
  'lives the night',
  'procrastinates 24/7',
  'uses arch btw',
  'purrs when headpatted',
]

const description = descriptions[Math.random() * descriptions.length | 0]
---
<GlobalLayout title="cynthia's website">
  <PageHeader>
    Hi, I'm Cynthia
    <Fragment slot='subtitle'>Catgirl who {description}</Fragment>
  </PageHeader>
  <main>
    <section class='section'>
      Henlo, I'm a {age} years old software engineer from Toulouse, France, who spends more time procrastinating than typing in a code
      editor. While procrastinating, some of the things I do include playing games, eating cookies, challenging
      Einstein's theory of relativity, and starting an infinite amount of side projects.
    </section>
    <section class='section'>
      <h3 class='underlined'>My projects</h3>
      <ul>
        <li>
          <a href='https://pronoundb.org' target='_blank' rel='noreferrer'>pronoundb.org</a>, a browser extension to
          see people's pronouns on the internet
        </li>
        <li>
          <a href='https://cynthia.rest' target='_blank' rel='noreferrer'>cynthia.rest</a>, a website where you can
          interact with me over https
        </li>
        <li>
          ...and way too much unfinished projects &amp; "side" projects
        </li>
      </ul>
    </section>
    <section class='section'>
      <h3 class='underlined'>My work</h3>
      <p>
        I'm currently a software engineer at <a href='https://tolgee.io' target='_blank' rel='noreferrer'>tolgee.io</a>,
        an open-core localization platform you can selfhost if you're not into SaaS. I highly recommend checking it out
        if you're looking for an alternative to proprietary crowdin or bloated weblate. 🙌
      </p>
      <p>
        Some of my work includes:
      </p>
      <ul>
        <li>
          <a href='https://github.com/tolgee/tolgee-cli' target='_blank' rel='noreferrer'>tolgee-cli</a>, a cli to
          interact with Tolgee easily and extract strings from your code automagically.
        </li>
        <li>
          <a href='https://github.com/tolgee/vite-plugin-i18n-tolgee' target='_blank' rel='noreferrer'>vite-plugin-i18n-tolgee</a>,
          a proof of concept at compile-time based localization tooling for the Web via a Vite plugin, featuring ICU
          pre-processing, static analysis and error-checking, and more.
        </li>
        <li>
          ...and some contributions to <a href='https://github.com/tolgee/tolgee-platform' target='_blank' rel='noreferrer'>Tolgee itself</a>.
        </li>
      </ul>
    </section>
  </main>
</GlobalLayout>
