---
/*
 * Copyright (c) Cynthia Rey, All rights reserved.
 * SPDX-License-Identifier: BSD-3-Clause
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this
 *    list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 * 3. Neither the name of the copyright holder nor the names of its contributors
 *    may be used to endorse or promote products derived from this software without
 *    specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

import GlobalLayout from '../layouts/GlobalLayout.astro'
import PageHeader from '../components/PageHeader.astro'
import Section from '../components/Section.astro'
---
<GlobalLayout title="my socials & links - cynthia's website">
  <PageHeader>Find me online</PageHeader>
  <main>
    <Section title='Socials'>
      <p>
        I have my DMs open on most platforms which have such features. You can talk to me there if you want! I usually
        reply unless you're sending me weird stuff, spam, and/or act creepy.
      </p>
      <ul>
        <li>github: <a href='https://github.com/cyyynthia' target='_blank' rel='noreferrer'>cyyynthia</a></li>
        <li>twitter: <a href='https://twitter.com/cyyynthia_' target='_blank' rel='noreferrer'>@cyyynthia_</a></li>
        <li>
          discord: <a href='https://discord.com/users/94762492923748352' target='_blank' rel='noreferrer'>sleepycat#0001</a> -
          come hang out on my <a href='https://discord.gg/VnxPeNHHpG' target='_blank' rel='noreferrer'>personal server</a><br/>
          note: I don't accept friend requests
        </li>
      </ul>
    </Section>
    <Section title='Links'>
      <ul>
        <li>steam: <a href='https://steamcommunity.com/id/sleepyyycat' target='_blank' rel='noreferrer'>sleepyyycat</a></li>
        <li>donate: <a href='https://ko-fi.com/cyyynthia' target='_blank' rel='noreferrer'>ko-fi.com/cyyynthia</a></li>
        <li>onlyfans: lol no <!-- :squint: what were you expecting?! --></li>
      </ul>
    </Section>
  </main>
</GlobalLayout>
