---
/*
 * Copyright (c) 2021-2023 Cynthia Rey, All rights reserved.
 * SPDX-License-Identifier: BSD-3-Clause
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this
 *    list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 * 3. Neither the name of the copyright holder nor the names of its contributors
 *    may be used to endorse or promote products derived from this software without
 *    specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

import '../styles/activity.css'
---
<div id='activity' class='activity-widget hidden'>
  <h3 id='activity-title'>I'm currently listening to</h3>
  <div id='activity-name'></div>
  <div id='activity-detail'></div>
</div>

<script>
  type Activity = { playing: boolean, name: string, artist: string }

  const widget = document.getElementById('activity')!
  // const title = document.getElementById('activity-title')!
  const name = document.getElementById('activity-name')!
  const detail = document.getElementById('activity-detail')!

  function onMessage (activity: Activity) {
    if ('type' in activity) return // upcoming (breaking) changes to the api
    if (!activity.playing) {
      widget.classList.add('hidden')
      return
    }

    widget.classList.remove('hidden')
    name.innerText = name.title = activity.name
    detail.innerText = detail.title = 'by ' + activity.artist
  }

  function connect () {
    const ws = new WebSocket('wss://cynthia.rest/activity')
    ws.addEventListener('message', (e) => onMessage(JSON.parse(e.data)))
    ws.addEventListener('close', () => setTimeout(connect, 250))
  }

  connect()
</script>
