---
import '../styles/navbar.css'
import Link from '../components/Link.astro'
---
<nav class='nav'>
  <Link href='/' activeClass='active' exact>About me</Link>
  <Link href='/blog' activeClass='active'>Blog</Link>
  <Link href='/socials' activeClass='active'>Links &amp; socials</Link>
  <Link href='/contact' activeClass='active'>Contact</Link>
  <Link href='/donators' activeClass='active'>Donators</Link>
</nav>
