---
/*
 * Copyright (c) 2021-2023 Cynthia Rey, All rights reserved.
 * SPDX-License-Identifier: BSD-3-Clause
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this
 *    list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 * 3. Neither the name of the copyright holder nor the names of its contributors
 *    may be used to endorse or promote products derived from this software without
 *    specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

const now = new Date()
const france = now.getDate() === 14 && now.getMonth() === 6
---
<header class:list={[ 'page-header', { 'has-subtitle': Astro.slots.has('subtitle'), france } ]}>
  <h1 class='underlined'><slot/></h1>
  {Astro.slots.has('subtitle') && <div class='subtitle'><slot name='subtitle'/></div>}
</header>

<style>
  .page-header {
    margin-bottom: 1.5rem;
    padding-left: 92px;
    position: relative;
    display: flex;
    height: 5.5em;
    flex-direction: column;
    justify-content: center;
  }

  .has-subtitle {
    margin-bottom: 1.75rem;
  }

  .page-header .underlined {
    border-color: #f49898;
    border-width: 5px;
  }

  .page-header.france .underlined {
    border-image: linear-gradient(90deg, #000091, #000091 33%, #ededed 33%, #ededed 67%, #e1000f 67%, #e1000f) 1 1;
  }

  .page-header::before {
    content: '';
    position: absolute;
    width: 72px;
    height: 100%;
    top: 4px;
    left: 4px;
    transform: rotate(15deg);
    background-image: url('../assets/paw.svg');
    background-size: 72px 72px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .page-header h1 {
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
  }

  .subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 1.6rem;
  }
</style>
